# Chapter 10 - Lists

This chapter presents one of Python's most useful built-in types, lists.  You'll also learn more about objects and what can happen when you have multiple names for the same object (a very noteworthy thing in Comp Sci).

A list is a sequence, somewhat like a string.  
In a string, the values of the sequence are characters; in a list, they can be any type (even other lists!).  
The values in a list are called elements or items.

In [14]:
#Some ways to create a list:
#Simplest: enclose elements in square brackets, 
#separated by commas
my_list = [10,20,30]
my_other_list = ['goblin', 'beholder', 'tarrasque']
#But wait!  The elements can be of different types!
list3 = [1, 'a', ["i'm","a", "list","too!"]]
#A list within another list is -nested-
empty_list = []

In [15]:
print(my_list)

[10, 20, 30]

In [16]:
#We can access elements of a list using indexes
#and slices, just like strings
my_list[::2]

[10, 30]

Lists are Mutable (they can be changed after being created).  
(This is different from some other Python sequences like strings or tuples).

In [17]:
my_list[2] = 'alpha'
my_list

[10, 20, 'alpha']

In [18]:
#update third term to be alpha

Traversing a list.  
The most common way to traverse the elements of a list with with a for loop. (Similar to strings).

In [19]:
pies = ['apple', 'cherry', 'pumpkin', 'banana cream', 
        'key lime']
for pie in pies:
    print("I like", pie,"pie!")

#This works well if you want to read the elements

I like apple pie!
I like cherry pie!
I like pumpkin pie!
I like banana cream pie!
I like key lime pie!

In [20]:
#But if you want to write or update the elements, it's
#better to use indices
excitable_pies = pies
for index in range(len(excitable_pies)):
    excitable_pies[index] = excitable_pies[index]+"(Yum!)"
excitable_pies

['apple(Yum!)',
 'cherry(Yum!)',
 'pumpkin(Yum!)',
 'banana cream(Yum!)',
 'key lime(Yum!)']

In [21]:
#A for loop over an empty list never runs the body
#of the loop
for element in []:
    print('This will not print')

In [24]:
#remember list3?
list3
list3[2] = ['one', 'two', 'three']
list3

[1, 'a', ['one', 'two', 'three']]

In [18]:
#Even though the third entry there is a list, 
#it counts as a single element of list3 when traversing.
for element in list3:
    print(element)

1
a
["i'm", 'a', 'list', 'too!']

## List operations  
The + operator concatenates list into one  
The * operator repeats a list a given number of times

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [26]:
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
#list w 100 zeros
zero = [0]
zero * 100

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

List Slices  
Just like strings, we can slice lists

In [29]:
piano_alpha = ['a','b','c','d','e','f','g']
piano_alpha[2:5]

['c', 'd', 'e']

In [30]:
piano_alpha[::-1] #remember this trick?

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [28]:
piano_copy = piano_alpha
piano_copy[3:5] = ['D','E']
piano_copy

['a', 'b', 'c', 'D', 'E', 'f', 'g']

In [31]:
#List methods
#There are some built-in methods Python has for lists.

t = [7,8,9]
t.append(10)
t
#Hint: since l(lowercase L) looks a lot like 1 (one),
#it's sometimes avoided as a variable name,
#even though it would make sense for a list.

[7, 8, 9, 10]

In [34]:
#create a list containing integers from 5 to 95
integer_list = []
n = 5
for n in range(5,96):
    integer_list.append(n)
integer_list

[5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95]

In [39]:
#Aside: discuss destructive methods vs. 
#non-destructive
s = 'hello'
print(s.upper())
print(s)

HELLO
hello

In [40]:
u = [11,12]
#extend takes a list as an argument and appends
#all the elements
t.extend(u)
#This changes t but leaves u alone
t

[7, 8, 9, 10, 11, 12]

Map, filter, reduce

In [42]:
#to add up all numbers in a list, use a loop like this
def add_all(t):
    total = 0#we use this as an accumulator variable
    for x in t:
        total += x #this augmented assignment statement
    return total
#Note that this works only if all elements 
#in the list are numbers!
print(add_all(t))

57

In [ ]:
#Practice!  
#write a function that returns the maximum
#value in a list of numbers!
numbers = [5, 25, 99, 3, 42, 11]
def find_max(l):
    return None

In [44]:
#It's actually such a common thing to do
#to add elements of a list, that Python has 
#a built-in function to do it:
print(sum(t))
#this "reduces" a sequence into one value

#Do you suspect a similar function exists for 
#maximum?

57
12

In [46]:
#Sometimes we want to build one list from another
words = ['apple', 'bear', 'Cafe', 'Draven', 'egg']
def capitalize_all(t):
    result = []
    for word in t:
        result.append(word.capitalize())
    return result
capitalize_all(words)
#This function is called a "map" because
#it maps a function (capitalize) onto each 
#entry of the list

['Apple', 'Bear', 'Cafe', 'Draven', 'Egg']

In [48]:
#Filter
def only_upper(t):
    result = []
    for s in t:
        if s.isupper():
            result.append(s)
    return result
print(only_upper(['Hello', 'WORLD', 'OOPS CAPS', 'sorry']))

['WORLD', 'OOPS CAPS']

In [47]:
#Practice:
#Design your own function of lists 
#e.g. reverse all string entries, or make them
#all uppercase, or make all numerical entries negative,
#or so on...

In [51]:
#Deleting 
#There are several ways.
alph = ['x','y','z']
y = alph.pop(1) #useful to keep the popped entry
print(y)
alph

y

['x', 'z']

In [52]:
#If you don't need to keep it, use del
del alph[0]
alph

['z']

In [53]:
#If you know the element you want to remove
#but not the index, you can use "remove"
alph.remove('z')
alph

[]

In [55]:
#to remove more than one at a time, you can 
#del with a slice index
alph = ['x','y','z']
del alph[1:]
alph

['x']

# Lists and Strings  
Although a list of characters and a string have a lot in common, they are not the same.  
You can, of course, convert one to the other with casting.

In [56]:
s = 'hello world'
t = list(s)
t
#Similar to str or int, you should avoid using "list"
#as a variable name

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [57]:
#If you want to break a string into words, you can
#Use the split method
sentence = 'Hello studious students, good day.'
sentence.split()

['Hello', 'studious', 'students,', 'good', 'day.']

In [58]:
#We can also use an optional argument for split()
#called a delimiter
sentence2 = 'bow-wow-woof-woof!'

In [59]:
#Join is the inverse of split.  It takes a 
#List of strings and concatenates the elements.

#Join is a string method, so we invoke it on the 
#Delimiter, and pass it a list as a parameter.
words = ['I', 'like', 'traffic', 'lights']
' '.join(words)

'I like traffic lights'

In [60]:
dog_words = ['arf','arf','bow','wow']
'-'.join(dog_words)

'arf-arf-bow-wow'

In [61]:
#One handy way to concatenate everything in a list
#together with no delimiter is:
''.join(dog_words)
#by using the empty string as the delimiter

'arfarfbowwow'

# Objects and Values

In [62]:
#if we run:
a = 'coconut'
b = 'coconut'
#We know that a and b refer to a string, but
#is it the same string or two separate strings
#that happen to have the same value?
#In this case, Python only created one string object,
#and both a and b refer to it.
#one way to check is with "is"
a is b

True

In [65]:
#But, when you create two lists:
a = [1,2,3]
b = [1,2,3]
print(a is b) #False
#, you get False.  Because Python creates TWO
#list objects
#We say that a and b are equivalent but not identical

#I remember this by thinking of strings, ints, booleans
#as "fundamental" data types, while lists, tuples,
#dictionaries, etc, are more abstract

#It gets even more complicated with "copying" 
#objects...

False

# Aliasing

In [66]:
#if a refers to an object, and you assign b = a,
#Then both variables refer to the same object
a = [1,2,3]
b = a
#then both a and b "point" to the same list in memory

#associating a variable with an object is called
#a 'reference'.  In this case, there are two 
#references to the same object.
#So, that object is "aliased"

#If that object can be altered, changes using one alias
#affect the other.
b[1] = 9
a

#WARNING! If a and b referred to a list with 
#further lists inside, then we get into issues of
#Copy depth...

[1, 9, 3]

List arguments

In [72]:
#When you pass a list to a function,
#the function gets a reference to the list.
#If the function modifies the list, the caller
#sees the change.
#You can create destructive and non-destructive
#treatments of lists and objects this way

#examples:
def tail(t):
    return t[1:]

def longerer(t):
    t.append(t[-1])

s = [1,2,3]
print(tail(s))
longerer(s)
print(s)

[2, 3]
[1, 2, 3, 3]

# Exercises!

Exercise 1  
Write a function called nested_sum that takes a list of lists of integers and adds up the elements from all of the nested lists. For example:
>>> t = [[1, 2], [3], [4, 5, 6]]
>>> nested_sum(t)
21

Exercise 2  
Write a function called cumsum that takes a list of numbers and returns the cumulative sum; that is, a new list where the ith element is the sum of the first i+1 elements from the original list. For example:
>>> t = [1, 2, 3]
>>> cumsum(t)
[1, 3, 6]

Exercise 3  
Write a function called middle that takes a list and returns a new list that contains all but the first and last elements. For example:
>>> t = [1, 2, 3, 4]
>>> middle(t)
[2, 3]

Exercise 4  
Write a function called chop that takes a list, modifies it by removing the first and last elements, and returns None. For example:
>>> t = [1, 2, 3, 4]
>>> chop(t)
>>> t
[2, 3]

Exercise 5   Write a function called is_sorted that takes a list as a parameter and returns True if the list is sorted in ascending order and False otherwise. For example:
>>> is_sorted([1, 2, 2])
True
>>> is_sorted(['b', 'a'])
False

Exercise 6  
Two words are anagrams if you can rearrange the letters from one to spell the other. Write a function called is_anagram that takes two strings and returns True if they are anagrams.

Exercise 7  
Write a function called has_duplicates that takes a list and returns True if there is any element that appears more than once. It should not modify the original list.

Exercise 8  
This exercise pertains to the so-called Birthday Paradox, which you can read about at http://en.wikipedia.org/wiki/Birthday_paradox.
If there are 23 students in your class, what are the chances that two of you have the same birthday? You can estimate this probability by generating random samples of 23 birthdays and checking for matches. Hint: you can generate random birthdays with the randint function in the random module.